body {
    font-family: sans-serif;
}

.kotakLogin {
    position: absolute;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(72, 145, 228, 0.5);
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.kotakUser {
    position: relative;
}

input {
    width: 100%;
    font-size: 16px;
    padding: 5px 2px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}

span {
    color: blue;
}

select {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#state {
    font-size: 15px;
    padding: 5px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}