#body {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.judul {
    font-size: 24px;
    color: blue;
}

.isi {
    text-align: center;
}

.image {
    height: 200px;
}

.btn {
    color: aliceblue;
    align-items: right;
    text-align: right;
    padding: 6px 15px;
    background-color: #007bff;
    border-color: #007bff;
    margin: auto;
}